header{
    background-color: #222E50;
    background-size: contain;
    color: white;
    text-align: center;
    padding: 30px;
    font-size: 28px;
    font-weight: bold;
}

body{ 
    background-color: #F3EFE0;
}

nav {
    background-color: #633533;
    padding: 0; 
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    height: 80px; 
}

.nav-contenedor {  
    display: flex;
    height: 100%;
    align-items: center;  
}

.menu {
    list-style: none;
    display: flex;
    margin-left: 10px; 
    gap: 10px;  
    padding: 5px;
}

.ROBOT img {
    border-radius: 50%;
    width: 60px; 
    height: 60px;
}

.menu li {
    font-size: medium;
}

.menu a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 250, 250);
    font-size: 18px; 
    padding: 0.5rem 0.8rem; 
    display: block; 
}

.menu a:hover {
    background-color: #597380;
    border-radius: 5px;
}
 .NOTICIAS{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }

.NOT{
    background-color: #C1D3C8;
    border: 1px solid #C1D3C8;
    padding: 20px;
    flex: 1;
    min-width: 250px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #597380;
    color: white;
    text-align: center;
    padding: 10px;
}