

.menu {
    list-style: none;
    display: flex;
    margin-left: 10px;
    gap: 10px;
    padding: 5px;
}

.ROBOT img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.menu li {
    font-size: medium;
}

.menu a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ffffff;
    font-size: 18px;
    padding: 0.5rem 0.8rem;
    display: block;
}

.menu a:hover {
    background-color: #633533;
    border-radius: 5px;
}

.imageness {
    padding: 0%;
}

.bodyimagenes {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
}

.galeria {
    display: grid;
    /* Explicitly define grid columns */
    grid-template-columns: 1fr 1fr; /* Two columns */
    gap: 20px;
}

.item {
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Make the poster span both columns */
.itemposter {
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    grid-column: span 2; /* Span two columns */
}

.item img {
    width: 100%;
    height: auto;
    display: block;
}

.item p {
    text-align: center;
    padding: 10px;
    background-color: #f8f8f8;
    margin: 0;
}

.derecha {
    text-align: right;
}

footer {
    background-color: #C1D3C8;
    color: #633533;
    padding: 20px;
    text-align: center; 
    border-radius: 30px;
    font-size: large;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    max-width: 1200px; 
    margin: 0 auto; 
}

.footer-section {
    padding: 15px;
    border: 15px solid #8FB7B0;
    border-radius: 5px;
}

.footer-section h3 {
    margin-top: 0;
    font-size: 1.2em;
}

.footer-section p, .footer-section ul {
    text-align: left;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section li {
    margin-bottom: 5px;
}

header{
    background-color:#222E50;
    color:#8FB7B0;
    padding:20px;
    text-align:center;
    font-size: 30px;
    border:solid 10px #8FB7B0;
}

header nav ul{
    display:grid;
    justify-content:center;
    margin-top:10px;
    padding:0;
    flex-wrap:wrap;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color:#597380;
    font-size:18px;
}