nav {
    background-color: #597380;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
}

.nav-contenedor {
    display: flex;
    height: 100%;
    align-items: center;
}

.menu {
    list-style: none;
    display: flex;
    margin-left: 10px;
    gap: 10px;
    padding: 5px;
}

.ROBOT img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.menu li {
    font-size: medium;
}

.menu a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ffffff;
    font-size: 18px;
    padding: 0.5rem 0.8rem;
    display: block;
}

.menu a:hover {
    background-color: #633533;
    border-radius: 5px;
}

.imageness {
    padding: 0%;
}

.bodyimagenes {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
}

.galeria {
    display: grid;
    /* Explicitly define grid columns */
    grid-template-columns: 1fr 1fr; /* Two columns */
    gap: 20px;
}

.item {
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Make the poster span both columns */
.itemposter {
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    grid-column: span 2; /* Span two columns */
}

.item img {
    width: 100%;
    height: auto;
    display: block;
}

.item p {
    text-align: center;
    padding: 10px;
    background-color: #f8f8f8;
    margin: 0;
}

.derecha {
    text-align: right;
}