/* General Styles */

* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(135deg
    ,#8FB7B0, #597380, #3E5168, #222E50,
    #5a4894);
    color: #000000;
    font-family: monospace;
}
a:link{
    color: #222E50;
}

/* HEADER */

.title h1 {
    padding: 20px 0;
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
}

/* CONTAINER */

.container {
    width: 90%;
    max-width: 1000px;
    margin: 1.6em auto;
    display: grid;
    gap: 1.6em;
    grid-template-columns: repeat(5, 1fr);
}

.container>.header, .container>.content, .container>.sidebar, .container>.footer, .container>div {
    background: #8FB7B0;
    padding: 20px;
    border: 1px solid #000000;
}

.container>.header, .container>.footer {
    grid-column: 1/-1;
    background-color: #222E50;
    color: #ffffff;
}

.container>.content {
    grid-column: span 3;
    grid-row: span 4;
}

.content>.article {
    background: #F3EFE0;
    padding: 20px;
    margin-top: 5px;
    color: #597380;
}

.content .article h1,
.content .article p {
    padding: 10px;
}

.container>.sidebar {
    grid-column: span 2;
    grid-row: span 4;
    background: #3E5168;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .sidebar img {
    display: block;
    width: 100%;
    margin-top: 5px;
}

.container>.related-post {
    background: #C1D3C8;
    color: #ffffff;
    width:auto;
    ;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}

.container>.related-post:hover {
    cursor: pointer;
    color: #000000;
    background: #ffffff;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
    .header {
        text-align: center;
    }
    .container .content {
        grid-column: 1 / -1;
    }
    .container .sidebar {
        grid-column: 1 / 6;
    }

    .container .related-post {
        grid-column: 1/-1;
    }
}
